Repository lgornik/translator-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config backend/.eslintrc.cjs, prettier --write, eslint --fix --config frontend/.eslintrc.cjs

.lintstagedrc.json:

{
  "backend/**/*.ts": [
    "eslint --fix --config backend/.eslintrc.cjs",
    "prettier --write"
  ],
  "frontend/**/*.{ts,tsx}": [
    "eslint --fix --config frontend/.eslintrc.cjs",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix: update ESLint configuration to CJS format, add missing ESLint config file, and enhance DTOs for API responses in quiz functionality
  .lintstagedrc.json
  backend/.eslintrc.cjs
  backend/src/application/dtos/index.ts
  backend/src/infrastructure/graphql/resolvers.ts
  frontend/src/features/quiz/hooks/useQuiz.ts
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write, eslint --fix --config frontend/.eslintrc.cjs

feat: Add principal-level architecture (decorators, EventBus, resilience patterns)
  backend/package-lock.json
  backend/package.json
  backend/src/application/decorators/UseCaseDecorators.ts
  backend/src/infrastructure/di/index.ts
  backend/src/infrastructure/di/registration.ts
  backend/src/infrastructure/events/EventBus.ts
  backend/src/infrastructure/resilience/index.ts
  backend/src/shared/core/DomainEvent.ts
  backend/src/shared/core/index.ts
  backup_20260112_212431/backend/src/infrastructure/di/container.ts
  backup_20260112_212431/backend/src/infrastructure/di/registration.ts
  docs/PRINCIPAL_REFACTORING.md
  package-lock.json
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write

feat: enhance GraphQL operations with improved error handling and type definitions
  frontend/src/shared/api/operations.ts
Due: prettier --write, eslint --fix --config frontend/.eslintrc.cjs

feat: Enhance Apollo Client setup and improve useQuizGraphQL hook with error handling
  frontend/src/app/providers/ApolloProvider.tsx
  frontend/src/features/quiz/hooks/useQuizGraphQL.ts
Due: prettier --write, eslint --fix --config frontend/.eslintrc.cjs

fix: move CI workflow to correct .github/workflows directory
  .github/workflows/ci.yml
Due: prettier --write

fix: update package-lock.json from Docker containers
  backend/package-lock.json
  frontend/package-lock.json
Due: prettier --write

fix: correct cache-dependency-path and remove root dependencies
  .github/workflows/ci.yml
Due: prettier --write

fix: use npm install instead of npm ci and remove cache
  .github/workflows/ci.yml
Due: prettier --write

fix: add missing frontend install step in frontend-test job
  .github/workflows/ci.yml
Due: prettier --write

fix: add .npmrc file to enable legacy peer dependencies
  .github/workflows/.npmrc
Due: none

fix: resolve React 19 + xstate/react dependency conflict
  .github/workflows/ci.yml
  .npmrc
  backend/backend-Dockerfile
  frontend/frontend-package.json
  package-lock.json
Due: prettier --write

fix: ensure husky install command does not fail
  package.json
Due: prettier --write

fix: update health status check and remove unused logger from use cases
  backend/src/__tests__/integration/resolvers.test.ts
  backend/src/__tests__/integration/use-cases.test.ts
  backend/src/__tests__/unit/use-case-decorators.test.ts
  backend/src/__tests__/unit/use-cases.test.ts
  backend/src/shared/core/index.ts
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write

feat: add Dockerfile and implement quiz hooks with improved type checks
  backend/Dockerfile
  frontend/src/features/quiz/hooks/useQuizCategories.ts
  frontend/src/features/quiz/hooks/useQuizGraphQL.ts
  frontend/tsconfig.json
Due: prettier --write, eslint --fix --config frontend/.eslintrc.cjs

feat: implement union type error handling in GraphQL resolvers and schema
  backend/src/infrastructure/graphql/resolvers.ts
  backend/src/infrastructure/graphql/schema.ts
  frontend/src/features/quiz/hooks/useQuizCategories.ts
  frontend/src/features/quiz/hooks/useQuizGraphQL.ts
  frontend/src/shared/api/operations.ts
  frontend/src/vite-env.d.ts
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write, eslint --fix --config frontend/.eslintrc.cjs

feat: enhance GraphQL schema and resolvers with union type error handling and typename fields
  backend/src/__tests__/contract/graphql-schema.test.ts
  backend/src/__tests__/integration/resolvers.test.ts
  backend/src/infrastructure/graphql/resolvers.ts
  frontend/src/features/quiz/hooks/useQuiz.test.tsx
  frontend/src/features/quiz/hooks/useQuizCategories.test.tsx
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write, eslint --fix --config frontend/.eslintrc.cjs

refactor: remove outdated comments and documentation from use cases and decorators
  backend/src/application/decorators/UseCaseDecorators.ts
  backend/src/application/use-cases/CheckTranslationUseCase.ts
  backend/src/application/use-cases/GetRandomWordUseCase.ts
  backend/src/application/use-cases/GetRandomWordsUseCase.ts
  backend/src/application/use-cases/ResetSessionUseCase.ts
  backend/src/domain/value-objects/SessionId.ts
  backend/src/domain/value-objects/WordId.ts
  backend/src/infrastructure/di/container.ts
  backend/src/infrastructure/di/registration.ts
  backend/src/infrastructure/events/EventBus.ts
  backend/src/infrastructure/graphql/context.ts
  backend/src/infrastructure/graphql/resolvers.ts
  backend/src/infrastructure/graphql/schema.ts
  backend/src/infrastructure/resilience/index.ts
  backend/src/shared/core/Brand.ts
  backend/src/shared/core/DomainEvent.ts
  docs/PRINCIPAL_REFACTORING.md
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write

refactor: remove PostgreSQL addon and related files from the project
  backend/src/infrastructure/persistence/postgres/schema.ts
  frontend/frontend-package.json
  frontend/src/app/providers/ApolloProvider.tsx
  postgres-addon/README.md
  postgres-addon/backend/drizzle.config.ts
  postgres-addon/backend/seed.ts
  postgres-addon/backend/src/index.ts
  postgres-addon/backend/src/infrastructure/config/Config.ts
  postgres-addon/backend/src/infrastructure/persistence/postgres/PostgresSessionRepository.ts
  postgres-addon/backend/src/infrastructure/persistence/postgres/PostgresWordRepository.ts
  postgres-addon/backend/src/infrastructure/persistence/postgres/index.ts
  postgres-addon/backend/src/infrastructure/persistence/postgres/schema.ts
  postgres-addon/backend/src/infrastructure/persistence/repositoryFactory.ts
  postgres-addon/docker-compose.yml
Due: eslint --fix --config backend/.eslintrc.cjs, prettier --write, eslint --fix --config frontend/.eslintrc.cjs

feat: add Kubernetes configuration files for namespace, secrets, configmap, database, cache, backend, frontend, and autoscaling
  k8s/00-namespace.yaml
  k8s/01-secrets.yaml
  k8s/02-configmap.yaml
  k8s/03-postgres.yaml
  k8s/04-redis.yaml
  k8s/05-backend.yaml
  k8s/06-frontend.yaml
  k8s/07-autoscaling.yaml
  k8s/README.md
Due: prettier --write

fix: k8s secrets manifest + postgres backup cronjob + drizzle migrations
  backend/drizzle/0000_regular_oracle.sql
  backend/drizzle/meta/0000_snapshot.json
  backend/drizzle/meta/_journal.json
  k8s/01-secrets.yaml
  k8s/06-postgres-backup.yaml
Due: prettier --write

fix: update PostgreSQL backup schedule to run every 3 hours for testing
  backup_ratunkowy.sql
  k8s/06-postgres-backup.yaml
Due: prettier --write
